form {
  margin-left: 5%;

  input {
  	margin-top: 20px; 
    margin-bottom: 10px; 
  } 

  label {
    margin-bottom: 10px;
    margin-top: 10px;
  }	

 }

 p {
 	padding-left: 45px;
 }

 #container {
 	width: 25%;
 	font-family: cursive;
 	border-style: solid;
    border-width: 1px;
    margin-left: 250px;
    padding: 20px;
    border-color: #2196F3;
    border-radius: 20px;
 }